# asgiref==3.8.1
# certifi==2024.8.30
# crispy-bootstrap5==2024.10
# distlib==0.3.8
# Django==5.1.1
# django-crispy-forms==2.3
# django-email==0.1.10
# django-environ==0.11.2
# filelock==3.16.1
# packaging==24.1
# pillow==11.0.0
# pipenv==2024.1.0
# platformdirs==4.3.6
# psycopg2==2.9.10
# sqlparse==0.5.1
# tzdata==2024.2
# virtualenv==20.26.6

asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
filelock
packaging
pillow
pipenv
platformdirs
psycopg2
sqlparse
tzdata
virtualenv


